{
	"extends": ["airbnb", "prettier"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2017,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"impliedStrict": true,
			"classes": true
		}
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	},
	"env": {
		"browser": true,
		"amd": true,
		"node": true
	},
	"rules": {
		"no-unused-vars": [
			1,
			{
				"argsIgnorePattern": "res|next|^err"
			}
		],
		"arrow-body-style": [2, "as-needed"],
		"no-param-reassign": [
			2,
			{
				"props": false
			}
		],
		"no-console": 1,
		"no-underscore-dangle": "off",
		"no-use-before-define": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/no-array-index-key": "off",
		"linebreak-style": 0,
		"global-require": 0,
		"import/prefer-default-export": "off",
		"react/forbid-prop-types": 0,
		"jsx-a11y/accessible-emoji": 1,
		"indent": "off",
		"react/jsx-indent": "off",
		"react/jsx-indent-props": "off",

		"react/jsx-sort-props": [
			"error",
			{
				"callbacksLast": true,
				"shorthandFirst": true,
				"shorthandLast": false,
				"ignoreCase": false,
				"noSortAlphabetically": false,
				"reservedFirst": true
			}
		],

		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 120
			}
		],
		"jsx-a11y/href-no-hash": "off",
		"jsx-a11y/anchor-is-valid": [
			"warn",
			{
				"aspects": ["invalidHref"]
			}
		]
	},
	"plugins": ["prettier"]
}
